body {
    margin: 0;
    height: 100%;
    width: 100%;
}
div#container {
    margin: 0;
    border: 1px solid gray;
    position: relative;
    min-height: 100%;
}

div#top {
    width: 100%;
    margin: 0;
    background-color: #F1EFEF;
    display: inline-flex;
}


div#image_holder {
    min-width : 80px;
    height: 40px;
    display: inline-block;
}

div#search_box {
    margin: 0;
    width: auto;
    min-width: 650px;
    background-color: inherit;
    display: inline-block;
    /*padding: 5px 10px 5px 80px;*/
    /*margin-left:auto;*/
    /*border: 1px solid gray;*/
}
form#searchbox {
    display : inline-flex;
    margin: 5px;
}


input#search_text_box {
    width: 600px;
    height : 48px ;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 0;
    font-size: larger;
    background-color: white;
    padding-left: 10px;
    /*background-image: url('searchicon.png');*/
    /*background-position: 10px 10px;*/
    /*background-repeat: no-repeat;*/
    /*padding: 6px 20px 6px 20px;*/
    display: inline;
}

input:focus#search_text_box {
    outline-color: red;
    outline-width: 2px;
}


/*div#search_box input[type=submit]{*/
    /*background-color: #4CAF50;*/
    /*border: none;*/
    /*color: black;*/
    /*padding: 12px 24px 12px 24px;*/
    /*text-decoration: none;*/
    /*margin: 4px 2px;*/
    /*cursor: pointer;*/
    /*font-size: 14px;*/
    /*font-style: italic;*/
    /*display: inline;*/
/*}*/

#search_btn {
    background: white url(../img/web-search-48.ico);
    width: 48px;
    height: 48px;
    margin: 0;
    border: 1px;
    padding: 0;
    border-radius: 0 4px 4px 0;
}

div#main-container {
    /*position: absolute;*/
    /*left: 0;*/
    display: table;
    border: 1px solid gray;
    margin-bottom: 30px;
}

div#button-frame {
    /*border: 1px solid gray;*/
    width: 100%;
    padding-left: 80px;
}


div#buttons {
    min-width: 650px;
    border: 1px solid gray;
    display: inline-block;
}

div#extra {
    max-width: 200px;
    /*min-height: 50px;*/
    /*margin: 20px 5px 5px 5px;*/
    border: 1px solid gray;
    padding: 5px;
    font-family: "andale mono", "monotype.com", "courier new", courier, monospace;
    font-size: x-small;
}

div#information {
    width: 700px;
    border: 1px solid gray;
    font-family: "andale mono", "monotype.com", "courier new", courier, monospace;
    font-size: x-small;
}


div.left {
    /*position: absolute;*/
    left: 0;
    padding-left: 80px;
    display: table-cell;
}

div.right {
    display: table-cell;
    padding-left: 10px;
    padding-right: 10px;
}

div#options {
    border: 1px solid gray;
    margin: 0;
}

div#results {
    width: 650px;
    border: 1px solid gray;
    padding: 5px;
    /*background-color: gainsboro;*/
    /*margin-bottom: 20px;*/
}

div#records {
    margin: auto;
    border: 1px solid gray;
}

div#info {
    margin: auto;
    border: 1px solid gray;
    padding: 1px 1px 1px 10px;
    font-size: medium;
    font-family: monospace;
    color: gray;
}

hr {
    margin-left: 0px;
    width: 750px;
}

a:hover {
    text-decoration: underline;
}

div.result_block {
    max-width : 100%;
    /*width: 75%; */
    border: 1px solid gainsboro;
    margin: 10px 5px 10px 5px;
    padding: 5px;
}

div.result_title {
    white-space: nowrap;
    overflow: hidden;
    font-size: large;
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
}

div.result_title a {
    text-decoration: none;
    /*font-weight:bold;*/
    font-family : "Open Sans", "DejaVu Sans", sans-serif;
}

div.result_title a:hover {
    text-decoration: underline;
}


div.result_url {
    white-space: nowrap;
    width: 100%;
    font-size: medium;
    font-family: monospace;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.result_content {
    width: 100%;
    font-size: medium;
    /*border : 1px solid gray;*/
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.result_content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: darkslategray;
    font-size: medium;
    font-family: "Consolas", "Menlo", "Courier", monospace;
}

div.result_content ul li {
    display: inline-block;
}


div#pagination {
    border : 1px solid gray;
    padding : 10px 0 0 0;
    /*width: 650px;*/
    /*font-size: 12px;*/
    /*font-family: "Open Sans", "DejaVu Sans", sans-serif;*/
}

div#pagination ul {
    list-style-type: none;
    text-align: center;
    padding: 5px;
    margin: 5px 0 5px 0;
}

div#pagination ul li {
    min-width: 16px;
    width: auto;
    display: inline-block;
    text-align: center;
    margin: 0 5px 0 5px;
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
    font-size: small;
}

div#pagination a {
    text-decoration: none;
    font-size: small;
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
}

div#pagination a:hover {
    text-decoration: underline;
}

div#footer {
    /*keep the footer at the bottom of page*/
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid gray;
    padding: 5px;
    background-color: #F1EFEF;
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
    font-size: small;
    font-style: italic;
    color: grey;
    text-align: center;
}

div#footer a {
    text-decoration: none;
    color: grey;
}
